@charset "utf-8";

/*########*/
/*# BODY #*/
/*########*/
body {
    background-image: url('../img/d_fanart.jpg');
    background-attachment:fixed;
    background-color:#000;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color: #ddd;
    border:0px;
    padding: 0px;
    margin: 0px;
    outline: none;
}
img {
    vertical-align: middle;
    border: 0px;
}
a:link { 
    color:#999; 
    text-decoration:none;
}
a:visited {
    color:#999;
    text-decoration:none;
}
a:hover {
    color:#FFF;
    text-decoration:none;
}
a:active {
    color:#FFF;
    text-decoration:none;
}
.bold {
    font-weight: bold;
}
#container {
    background-color: #000;
    border: 1px solid #333333;
    width: 800px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
}
#panel_info {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 200px;
    border: 3px solid #00cc00;
    background-color: #66ff33;
    font-weight: bold;
    text-align: center;
    color: #000;
    padding: 5px;
}
#panel_menu {
    border: 1px solid;
    border-color: #222222;
    background-color: #111111;
    width: 140px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
#panel_menu_title {
    font-weight: bold;
    text-align: center;
    background-color: #000000;
    padding: 2px;
}
.genre {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
#panel_options {
    float: right;
    width: 640px;
    text-align: center;
    background-color: #111111;
    border: 1px solid #222222;
    margin-right: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#panel_search {
    float: right;
    margin: 5px;
}
.search {
    background-color:#111111;
    color:#dddddd;
    border: 1px solid #222222;
    font-size:11px;
    width:160px;
    height:20px;
}
.search_img {
    width:16px;
    height:16px;
    border:0px;
    vertical-align: middle;
    margin-left: 5px;
}
#panel_movie {
    width: 640px;
    float: right;
    margin-right: 5px;
}
.panel_nav {
    text-align: center;
    margin: 5px;
}
.movie {
    border: 1px solid #222222;
    background-color: #111111;
    min-height: 250px;
    margin-bottom: 10px;
    padding: 5px;
}
.poster {
    float: left;
    width: 140px;
    height:198px;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid #fff;
}
.title {
    font-size: 20px;
    font-weight: bold;
    color:#ff7300;
}
.title_org {
    font-size: 11px;
    font-weight: bold;
    color: #aaa;
}
.img_flag_hd {
    width: 31px;
    height: 18px;
    float: right;
}
#vres, #vtype, #atype, #achan {
    width: 48px;
    height: 18px;
}
.flags {
    text-align: center;
    margin-left: 150px;
    margin-top: 5px;
}
#movie_info {
    margin: auto;
}
.movie_left {
    font-weight: bold;
    color: #ff7300;
    text-align: right;
    width: 60px;
    vertical-align: top;
}
.movie_right {
    text-align: left;
}
#img_space {
    width: 300px;
    height: 1px;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
#panel_recently {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.recently_img {
    border: 1px solid #fff;
    width: 71px;
    height: 100px;
    margin: 2px;
}
