.movie { color:#555; text-align:left; font-size:11px; border:1px solid #fff; background-color:#ddd; margin-top:1px; padding:2px 2px 2px 4px; overflow:hidden; }
.text { float:left; width:450px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.title { font-weight:bold; color:#414141; }
.title a:link { font-size:11px; font-weight:bold; color:#414141; }
.title a:visited { font-size:11px; font-weight:bold; color:#414141; }
.title a:active { font-size:11px; font-weight:bold; color:#414141; }
.title a:hover { font-size:11px; font-weight:bold; color:#414141; text-decoration:underline; }
.title_org { font-weight:bold; }
.images { float:right; }
.images div { width:26px; height:14px; float:left; }
.movie img { height:12px; display:block; margin:auto; margin-top:1px; }
.trailer_img { opacity: .8; }