.movie { text-align:left; border:1px solid #fff; background-color:#ddd; min-height:250px; margin-top:10px; margin-bottom:10px; padding:5px 10px 5px 10px; }
.poster_container { float:left; width:142px; margin-top:5px; margin-right:5px; }
.poster { border:1px solid #000; }
.title { font-size:20px; font-weight:bold; color:#414141; }
.title a:link { font-size:20px; font-weight:bold; color:#414141; }
.title a:visited { font-size:20px; font-weight:bold; color:#414141; }
.title a:active { font-size:20px; font-weight:bold; color:#414141; }
.title a:hover { font-size:20px; font-weight:bold; color:#414141; text-decoration:underline; }
.title_org { font-size:11px; font-weight:bold; color:#888; }
.watched_img { display:block; position:absolute; margin-left:102px; margin-top:-44px; }
.watched_episode { width:10px; height:10px; }
.episode_plot { display: none; position: absolute; width:380px; border:1px solid #fff; background-color:#ddd; padding:5px; text-align:left; }
.trailer_img { position:absolute; margin-left:94px; margin-top:8px; display:block; opacity: .8; }
.flag { margin-left:3px; }
.desc { text-align:center; margin-left:150px; margin-top:5px; min-height: 220px; }
.desc a:link { color:#555; text-decoration:none; }
.desc a:visited { color:#555; text-decoration:none; }
.desc a:hover { color:#555; text-decoration:underline; }
.desc a:active { color:#555; text-decoration:none; }
.table { margin:0px; padding:0px; border:0px; width:100%; }
.left { font-weight:bold; color:#414141; text-align:right; width:60px; vertical-align:top; }
.right { text-align:left; }
.aired { width:60px; }
.actor_thumb { position: absolute; display:none; border:1px solid #111;}
.trailer { border: 1px solid #000; margin:auto; margin-top:10px; margin-bottom:10px; width:560px; }
.img_space { width:300px; height:1px; display:block; margin:auto; margin-top:5px; margin-bottom:5px; }