@charset "utf-8";

html { height:100% }
body { height:100%; background-color:#000; font-family:Arial, sans-serif; font-size:11px; color:#ddd; border:0px; padding:0px; margin:0px; outline:none; }
#background { position:fixed; top:0; left:0; z-index:-10; min-width:100%; min-height:100%; max-width:100%; max-height:100%; }
img { border:0px; }

a:link { color:#999; text-decoration:none; }
a:visited { color:#999; text-decoration:none; }
a:hover { color:#FFF; text-decoration:none; }
a:active { color:#FFF; text-decoration:none; }

.bold { font-weight:bold; }
.orange { color:#ff7300; }
.text_left { text-align:left; }
.text_right { text-align:right; }
.text_center { text-align:center; }

input, select { background-color:#222; color:#ddd; border:1px solid #000; font-size:11px; width:160px; height:20px; }
.panel_info { border:3px solid #00cc00; background-color:#66ff33; font-weight:bold; color:#000; padding:5px; }

#content { padding-bottom:100px; }
#wrapper {min-height:100%; position:relative; }

.container { background-color:#111; border:1px solid #333; border-top:0px; width:800px; overflow:hidden; margin:auto; padding-bottom:20px; opacity:0.9; }
.container_login { width:300px; margin:auto; background-color:#111; border:1px solid #333; position:relative; top:20px; padding:10px; text-align:center; }

#select_media { width:800px; margin:auto; overflow:hidden; color:#ff7300; padding-bottom:10px; font-family:Verdana, Tahoma, sans-serif; font-size:20px; font-weight:bold; text-align:center; }
#select_media a { display:block; width:399px; float:left; border-bottom:1px solid #333; border-left:1px solid #333; background-color:#000; padding: 10px 0px 10px 0px; }
#select_media a.selected:link { color:#FF7300; }
#select_media a.selected:visited { color:#FF7300; }
#select_media a.selected:hover { color:#FFF; }
#select_media a.selected:active { color:#FFF; }

#panel_top, #panel_title { width:728px; overflow:hidden; margin:auto; }
.panel_top_item_title { float:left; color:#ff7300; font-weight:bold; padding-top:3px; padding-left:4px; background-color:#000; width:138px; height:17px; margin-left:20px; margin-right:20px; }
.panel_top_item { border:1px solid #000; width:140px; height:198px; margin-left:20px; margin-right:20px; overflow:hidden; float:left; }
.panel_top_item img { display:block; width:140px; height:198px; }

#panel_left { width:140px; float:left; margin-left:10px; margin-top:5px; }
.panel_box_title { border:1px solid #222; font-weight:bold; text-align:center; background-color:#000; padding:2px; margin-top:5px; cursor:pointer; }
.panel_box { padding:5px; border:1px solid #000; border-top:0px; background-color:#222; }
.panel_box ul, .panel_box li, .panel_box a { display:block; list-style:none; margin:0; padding:0 }

#panel_right { width:630px; float:right; text-align:center; margin:10px; }

#panel_sort { text-align:center; background-color:#222; border:1px solid #000; margin-bottom:10px; }
#panel_sort a, #panel_sort span { display:inline-block; font-weight:bold; border:1px solid #333; background-color:#000; margin:5px 3px 5px 3px; padding:3px 10px 3px 10px; text-align:center; }

#panel_nav a, #panel_nav span { display:inline-block; font-weight:bold; border:1px solid #333; background-color:#000; margin:5px 3px 5px 3px; padding:3px 10px 3px 10px; text-align:center;}

#panel_view { margin-bottom:10px; font-weight:bold; overflow:hidden; }
#view_menu, #watch_menu { width:180px; float:right; margin-left:10px; }
#view_title, #views a, #views span, #watch_title, #watches a, #watches span { width:178px; display:block; background-color:#222; border:1px solid #000; padding: 4px 0px 4px 0px; }
#views, #watches { position:absolute; display:none; z-index:25; }

input.search { width:248px; }
#panel_search { margin-bottom:10px; overflow:hidden; text-align:right; }
#panel_input_search { width:252px; float:right; }
#panel_live_search { position:absolute; z-index:20; border:0px solid #000; background-color:#222; overflow:hidden; }
.live_search_box { width:248px; text-align:left; cursor:pointer; border:1px solid #000; margin:1px; font-size:10px; overflow: hidden; }
.live_search_title { width:181px; margin:3px; font-weight:bold; color:#ff7300; font-size:12px; white-space:nowrap; text-overflow:ellipsis; display: block; overflow:hidden }
.live_search_orig_title { width:181px; margin:3px; font-weight:bold; color:#aaaaaa; font-size:10px; white-space:nowrap; text-overflow:ellipsis; display: block; overflow:hidden }
.img_live_search { width:48px; height:68px; border:1px solid #fff; margin:5px; float:left; }
.live_hover { background-color: #333; }

#panel_filter { text-align:left; overflow:hidden; margin-top: 5px; margin-bottom:5px; }
#filter_text { float:left; margin-left: 8px; }
#filter_text span { color:#ff7300; font-weight:bold; }
#filter_delete_img { margin:2px 5px 0px 5px; float:left; }

#panel_list { overflow:hidden; }

#panel_remote { width:130px; background-color:#000; border:1px solid #333; position:fixed; margin-top:60px; margin-left:-100px; z-index:4; border-top-left-radius:10px; border-top-right-radius:10px; border-bottom-right-radius:10px; border-bottom-left-radius:10px; }
#r_left { float:left; margin:6px; width:90px; }
#r_left div { display:block; float:left; margin:2px; width:26px; height:26px; }
#r_left img { display:block; cursor:pointer; }
#r_right { float:right; margin-top:8px; margin-right:8px; }

#now_playing { max-width:450px; background-color:#000; border:1px solid #333; position:fixed; margin-top:300px; margin-left:-500px; padding:10px; z-index:4; border-top-left-radius:10px; border-top-right-radius:10px; border-bottom-right-radius:10px; border-bottom-left-radius:10px; }
#np_title { font-size:22px; margin-bottom:4px; font-weight:bold; color:#ddd; }
#bar { height:4px; background-color:#444; margin:4px; }
#prog { height:4px; background-color:#aaa; }
#np_d_time {font-size:14px; font-weight:bold; text-align:center; }
#now_playing img { display:block; width:120px; border: 1px solid #fff; float:left; margin:5px 5px 5px 0px; }
#np_d_title { font-size:20px; font-weight:bold; color:#ff7300; padding-left:4px; }
#np_d_otitle { font-size:16px; font-weight:bold; color:#555; padding-left:8px; }
#np_d_det { font-size:10px; float:left; max-width:310px; margin:5px; }
#np_d_det div { margin-bottom:2px; }
#np_d_det span { color:#ff7300; font-weight:bold; }

#panel_bottom { width:100%; position:absolute; bottom:0; text-align:right; color:#999; background-color:#111; }
#bottom_info { float:right; margin-right:20px; padding:3px; }
