@charset "utf-8";

body { background-color:#000; font-family:Arial, sans-serif; font-size:11px; color:#ddd; border:0px; padding:0px; margin:0px; outline:none; }
#background { position:fixed; top:0; left:0; z-index:-10; min-width:100%; min-height:100%; }
img { border:0px; }

a:link { color:#999; text-decoration:none; }
a:visited { color:#999; text-decoration:none; }
a:hover { color:#FFF; text-decoration:none; }
a:active { color:#FFF; text-decoration:none; }

.bold { font-weight:bold; }
.orange { color:#ff7300; }
.text_left { text-align:left; }
.text_right { text-align:right; }

input, select { background-color:#222; color:#ddd; border:1px solid #000; font-size:11px; width:160px; height:20px; }
.panel_info { border:3px solid #00cc00; background-color:#66ff33; font-weight:bold; color:#000; padding:5px; }

.container { background-color:#111; border:1px solid #333; border-top:0px; width:800px; overflow:hidden; margin:auto; padding-bottom:20px; opacity:0.9; }
.container_login { width:300px; margin:auto; background-color:#111; border:1px solid #333; margin-top:20px; padding:10px; text-align:center; }

#select_media { width:800px; margin:auto; overflow:hidden; color:#ff7300; padding-bottom:10px; font-family:Verdana, Tahoma, sans-serif; font-size:20px; font-weight:bold; text-align:center; }
#select_media a, #select_media span { display:block; width:399px; float:left; border-bottom:1px solid #333; border-left:1px solid #333; background-color:#000; padding: 10px 0px 10px 0px; }

#panel_top, #panel_title { width:728px; overflow:hidden; margin:auto; }
.panel_top_item_title { float:left; color:#ff7300; font-weight:bold; padding-top:3px; padding-left:4px; background-color:#000; width:138px; height:17px; margin-left:20px; margin-right:20px; }
.panel_top_item { border:1px solid #000; width:140px; height:198px; margin-left:20px; margin-right:20px; overflow:hidden; float:left; }
.panel_top_item img { display:block; }

#panel_left { width:140px; float:left; margin-left:10px; margin-top:5px; }
.panel_box_title { border:1px solid #222; font-weight:bold; text-align:center; background-color:#000; padding:2px; margin-top:5px; cursor:pointer; }
.panel_box { padding:5px; border:1px solid #000; border-top:0px; background-color:#222; }
.panel_box ul, .panel_box li, .panel_box a { display:block; list-style:none; margin:0; padding:0 }

#panel_right { text-align:center; margin:10px; }
.panel_right_ex { width: 630px; float:right; }

#panel_sort { text-align:center; background-color:#222; border:1px solid #000; margin-bottom:10px; }
#panel_sort a, #panel_sort span { display:inline-block; font-weight:bold; border:1px solid #333; background-color:#000; margin:5px 3px 5px 3px; padding:3px 10px 3px 10px; text-align:center; }

#panel_nav a, #panel_nav span { display:inline-block; font-weight:bold; border:1px solid #333; background-color:#000; margin:5px 3px 5px 3px; padding:3px 10px 3px 10px; text-align:center;}

#panel_view { margin-bottom:10px; font-weight:bold; overflow:hidden; }
#view_menu { width:80px; float:right; }
#view_title, #views a, #views span { width:78px; display:block; background-color:#222; border:1px solid #000; padding: 2px 0px 2px 0px; }
#views { position:absolute; display:none; }
#views a, #views span { background-color:#111; }

input.search { width:250px; }
#panel_search { margin-bottom:10px; overflow:hidden; text-align:right;  }
#panel_input_search { width:252px; float:right; }
#panel_live_search { position:absolute; z-index:1; border:0px solid #000; background-color:#222; overflow:hidden; }
.live_search_box { width:246px; text-align:left; cursor:pointer; border:1px solid #000; margin:1px; font-size:10px; overflow: hidden; }
.live_search_title { width:181px; margin:3px; font-weight:bold; color:#ff7300; font-size:12px; white-space:nowrap; text-overflow:ellipsis; display: block; overflow:hidden }
.live_search_orig_title { width:181px; margin:3px; font-weight:bold; color:#aaaaaa; font-size:10px; white-space:nowrap; text-overflow:ellipsis; display: block; overflow:hidden }
.img_live_search { width:48px; height:68px; border:1px solid #fff; margin:5px; float:left; }
.live_hover { background-color: #333; }

#panel_filter { text-align:left; overflow:hidden; margin-top: 5px; margin-bottom:5px; }
#filter_text { float:left; margin-left: 8px; }
#filter_text span { color:#ff7300; font-weight:bold; }
#filter_delete_img { margin:2px 5px 0px 5px; float:left; }

#panel_list { overflow:hidden; }

#panel_bottom { bottom:0px; text-align:right; color:#999; background-color:#111; margin-top:20px; padding:3px; padding-right:20px; }
