.movie { border:1px solid #fff; margin:10px; display:inline-block; }
.poster { width:180px; display:block; }
.watched_img { position:absolute; margin-left:143px; margin-top:-40px; display:block; z-index:1; }
.trailer_img { opacity: .8; position:absolute; margin-left:130px; margin-top:4px; display:block; }