@charset "utf-8";

body { background-color:#000; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ddd; border:0px; padding:0px; margin:0px; outline:none; }
#background { position:fixed; top:0; left:0; z-index:-10; min-width:100%; min-height:100%; }
img { border:0px; }

a:link { color:#999; text-decoration:none; }
a:visited { color:#999; text-decoration:none; }
a:hover { color:#FFF; text-decoration:none; }
a:active { color:#FFF; text-decoration:none; }

.bold { font-weight:bold; }
.orange { color:#ff7300; }

input, select { background-color:#222; color:#ddd; border:1px solid #000; font-size:11px; width:160px; height:20px; }
.panel_info { border:3px solid #00cc00; background-color:#66ff33; font-weight:bold; color:#000; padding:5px; }

.container { background-color:#111; border:1px solid #333; width:800px; overflow:hidden; margin:auto; padding-bottom:20px; padding-top:10px; opacity:0.9; }
.container_login { width:300px; margin:auto; background-color:#111; border:1px solid #333; margin-top:20px; padding:10px; text-align:center; }

#panel_top, #panel_title { width:728px; overflow:hidden; margin:auto; }
.panel_top_item_title { float:left; color:#ff7300; font-weight:bold; padding-top:3px; padding-left:4px; background-color:#000; width:138px; height:17px; margin-left:20px; margin-right:20px; }
.panel_top_item { border:1px solid #000; width:140px; height:198px; margin-left:20px; margin-right:20px; overflow:hidden; float:left; }
.panel_top_item img { display:block; }

#panel_left { width:140px; float:left; margin-left:10px; margin-top:5px; }
.panel_box_title { border:1px solid #222; font-weight:bold; text-align:center; background-color:#000; padding:2px; margin-top:5px; cursor:pointer; }
.panel_box { padding:5px; border:1px solid #000; border-top:0px; background-color:#222; }
.panel_box ul, .panel_box li, .panel_box a { display:block; list-style:none; margin:0; padding:0 }

#panel_right { text-align:center; margin:10px; }
.panel_right_ex { width: 630px; float:right; }

#panel_sort { text-align:center; background-color:#222; border:1px solid #000; margin-bottom:10px; }
.box_inline{ display:inline-block; font-weight:bold; border:1px solid #333; background-color:#000; margin:5px 3px 5px 3px; padding:3px 10px 3px 10px; text-align:center; }

input#search { width:250px; }
#panel_search { margin-bottom:10px; overflow:hidden; text-align:right;  }
#panel_input_search { width:252px; float:right; }
#search_res { display:block; float:right; line-height: 22px; }
#search_res_img { float:right; margin:3px 3px 0px 3px; }
#panel_live_search { position:absolute; z-index:1; border:0px solid #000; background-color:#222; overflow:hidden; }
.live_search_box { width:246px; text-align:left; cursor:pointer; border:1px solid #000; margin:1px; font-size:10px; overflow: hidden; }
.live_search_title { width:181px; margin:3px; font-weight:bold; color:#ff7300; font-size:12px; white-space:nowrap; text-overflow:ellipsis; display: block; overflow:hidden }
.live_search_orig_title { width:181px; margin:3px; font-weight:bold; color:#aaaaaa; font-size:10px; white-space:nowrap; text-overflow:ellipsis; display: block; overflow:hidden }
.img_live_search { width:48px; height:68px; border:1px solid #fff; margin:5px; float:left; }
.live_hover { background-color: #333; }

.movie { text-align:left; border:1px solid #000; background-color:#222; min-height:250px; margin-top:10px; margin-bottom:10px; padding:5px 10px 5px 10px; }
.poster { float:left; width:140px; height:198px; margin-top:5px; margin-right:5px; border:1px solid #fff; }
.title { font-size:20px; font-weight:bold; color:#ff7300; }
.title a:link { font-size:20px; font-weight:bold; color:#ff7300; }
.title a:visited { font-size:20px; font-weight:bold; color:#ff7300; }
.title a:active { font-size:20px; font-weight:bold; color:#ff7300; }
.title a:hover { font-size:20px; font-weight:bold; color:#ff7300; text-decoration:underline; }
.title_org { font-size:11px; font-weight:bold; color:#aaa; }
.watched { position:absolute; margin-left:104px; margin-top:162px; display:block; }
.img_trailer { position:absolute; margin-left:94px; margin-top:8px; display:block; opacity: .8; }
.flag { margin-left:3px; }
.desc { text-align:center; margin-left:150px; margin-top:5px; min-height: 220px; }
.desc a:link { color:#ddd; text-decoration:none; }
.desc a:visited { color:#ddd; text-decoration:none; }
.desc a:hover { color:#ddd; text-decoration:underline; }
.desc a:active { color:#ddd; text-decoration:none; }
.table { margin:0px; padding:0px; border:0px; }
.left { font-weight:bold; color:#ff7300; text-align:right; width:60px; vertical-align:top; }
.right { text-align:left; }
.actor_thumb { position: absolute; display:none; border:1px solid #ddd;}
.trailer { border: 1px solid #fff; margin:auto; margin-top:10px; margin-bottom:10px; width:560px; }
.img_space { width:300px; height:1px; display:block; margin:auto; margin-top:5px; margin-bottom:5px; }

#panel_bottom { bottom:0px; text-align:right; color:#999; background-color:#111; margin-top:20px; padding:3px; padding-right:20px; }
