@charset "utf-8";

body { background-color:#000; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ddd; border:0px; padding:0px; margin:0px; outline:none; }
#background { position:fixed; top:0; left:0; z-index:-10; min-width:100%; min-height:100%; }
img { vertical-align:middle; border:0px; }

a:link { color:#999; text-decoration:none; }
a:visited { color:#999; text-decoration:none; }
a:hover { color:#FFF; text-decoration:none; }
a:active { color:#FFF; text-decoration:none; }

.bold { font-weight:bold; }
.orange { color:#ff7300; }
.red { color:#FF0000; }
.green { color:#0FE800; }

.animate { cursor:pointer; }

input, select  { resize:none; background-color:#222; color:#dddddd; border:1px solid #000; font-size:11px; width:160px; height:20px; }
textarea { resize:none; background-color:#222; color:#dddddd; border:1px solid #000; font-size:11px; width:500px; height:18px; padding:5px; margin:10px; }
.textera { display:block; width:600px; height:420px; background-color:#111; color:#fff; border:1px solid #333; margin:auto; margin-top:10px; margin-bottom:10px; resize:none; padding:10px; }
.panel_info { border:3px solid #00cc00; background-color:#66ff33; font-weight:bold; color:#000; padding:5px; }

.container { background-color:#111; border:1px solid #333; width:800px; overflow:hidden; margin:auto; padding-bottom:20px; padding-top:10px; opacity:0.9; }
.container_install { width:300px; margin:auto; background-color:#111; border:1px solid #333; margin-top:20px; padding:10px; text-align:center; }

#panel_left { float:left; width:140px; margin-left:10px; margin-top:10px; }

#panel_right { text-align:center; float:right; width:630px; margin-right:10px; margin-top:10px; }

.box { display:block; width:100px; font-weight:bold; border:1px solid #333; background-color:#000; margin:auto; margin-bottom:10px; padding:3px; padding-left:10px; padding-right:10px; text-align:center; }

.table { border:1px solid #222; text-align:left; width:100%; margin-bottom:10px; }
.table td { background-color:#000; padding:2px 5px 2px 5px; }
.table img { display:block; margin:auto; }

.ban{ width:50px; }
.text_left { text-align:left; }
.text_right { text-align:right; }